.data-container {
  position: relative;

  .content-section {
    height: 200px;
    width: 100%;
    background-color: pink;
    overflow-x: scroll;
  }
  
  .scrollbar-section {
    height: 16px;
    width: 100%;
    background-color: lightcoral;
    overflow-x: scroll;
    position: absolute;
  }
}